html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 100%;
}

arcgis-map {
    display: block;
}
